.item {
  text-align: center;
  color: white;
  font-size: 40px;
  transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s,
    background-color 1s;
  border: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 0 20px;
  width: 100%;
  .logo-container {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid $border-color;
    justify-content: center;
    padding: 12px;
  }
  .app-icon {
    width: 30px;
  }
  .app-header {
    color: $primary-color;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    // padding: 0 15px;
    margin-left: 10px;
  }
  .app-desc {
    color: $primary-color;
    text-align: center;
    font-size: 0.75rem;
    padding: 0 25px;
    line-height: 2.5;
    font-weight: 500;
    height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .action-button {
    border: 1px solid $border-color;
    height: 35px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 0.8rem;
    margin-bottom: 20px;
    margin-top: 15px;
  }
}

.carousel-wrapper {
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  .carousel-horiz {
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    .page-content {
      transition: transform 1s ease;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      flex-grow: 1;
      align-items: center;
      .content {
        flex: 0 0 55%;
        max-width: 55%;
        display: flex;
        .content-inner {
          margin: auto auto auto 18.18%;
          h4 {
            font-size: 40px;
            font-weight: bold;
            color: white;
          }
          h2 {
            font-size: 90px;
            font-weight: bold;
            color: white;
          }
          .buttons {
            display: flex;
            .btn-outline-light {
              margin-right: 15px;
              border-radius: 10px;
              border: white 2px solid;
              font-size: 20px;
              padding: 15px 35px;
              color: white;
              font-weight: 600;
              animation: glowing 1500ms infinite;
              display: flex;
              span {
                display: flex;
                img {
                  margin: auto;
                  margin-right: 1rem;
                  height: 1.5rem;
                  width: auto;
                }
              }
              &:hover {
                color: darkslategrey;
                font-weight: 600;
                span {
                  img {
                    filter: invert(0.9);
                  }
                }
              }
            }
          }
        }
      }
      .image-boy {
        flex: 0 0 45%;
        max-width: 45%;
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: auto 90%;
      }

      &.prev {
        transform: translate3d(101%, 0, -1px);
      }

      &.next {
        transform: translate3d(-101%, 0, -1px);
      }

      &.active {
        transform: translate3d(0, 0, 0);
      }
      &.inactive {
        transform: translate3d(0, 0, 0);
        display: none;
      }
      &.sports {
        .sports-img {
          position: absolute;
          bottom: 0;
          height: 65%;
        }
        .content {
          margin: 0 auto;
          height: 75%;
          .content-inner {
            margin: auto;
            h4 {
              text-align: center;
            }
            h2 {
              text-align: center;
            }
            .buttons {
              justify-content: center;
              .btn-outline-light {
                &.play {
                  display: none;
                }
              }
            }
          }
        }
      }
      &.egame {
        .content {
          .content-inner {
            .buttons {
              .btn-outline-light {
                &.play {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .next,
  .prev {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .next {
    right: 0;
  }
  .prev {
    left: 0;
  }
}
