.mobile-page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-bottom: 0;
    .header-img {
      height: 70px;
      width: 100%;
      object-fit: contain;
    }
    .hello-text {
      font-weight: 700;
      font-size: 20px;
      margin-top: 20px;
      text-align: center;
    }
    .brand-desc {
      text-align: center;
      font-size: 12px;
      font-weight: 300;
      line-height: 28px;
      margin-top: 12px;
    }
  }

  .main-content-container {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    justify-content: space-evenly;
    .video-container {
      display: flex;
      flex-direction: column;
      border: 1px solid $border-color;
      .video-thumbnail {
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        height: 22vh;
        svg {
          margin: auto;
          width: 35px;
        }
      }
      .video-meta {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-top: 1px solid $border-color;
        .video-title {
          font-weight: 700;
          font-size: 18px;
        }
        .video-author {
          display: flex;
          align-items: center;
          font-size: 10px;
          .author-name {
            display: flex;
            font-weight: 700;
            align-items: center;
            .author-icon {
              margin-left: 3px;
              height: 9px;
              margin-right: 2px;
            }
          }
        }
        .video-desc {
          margin-top: 8px;
          font-size: 10px;
          line-height: 20px;
        }
      }
    }
  }

  .redirect-btn {
    text-align: center;
    font-weight: 500;
    span {
      font-weight: 700;
      text-decoration: underline;
    }
  }

  .controller-container {
    display: flex;
    height: 90px;
    border-top: 1px solid $border-color;
    align-items: center;
    overflow: auto;
    &::-webkit-scrollbar {
      height: 0;
    }
    .app-item {
      flex: 0 0 33.33%;
      width: 33.333%;
      opacity: 0.3;
      padding: 0 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      .app-icon {
        height: 35px;
        width: 35px;
        transition: all 200ms linear;
      }
      &.active {
        opacity: 1;
        .app-icon {
          height: 60px;
          width: 60px;
        }
      }
    }
  }
}
