.viral-tv-wrapper {
  width: 45%;
  border-left: 1px solid $border-color;
  display: flex;
  flex-direction: column;
  transition: all 200ms linear;
  overflow: hidden;
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $border-color;
    height: 95px;
    position: relative;
    .back-btn {
      position: absolute;
      left: 30px;
      @include hover-zoom(1.1);
      svg {
        width: 30px;
      }
    }
    .header-logo {
      height: 60px;
    }
    .header-action {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid $border-color;
      width: 60px;
      @include hover-zoom(1.1);
      .header-action-icon {
        width: 20px;
        height: 20px;
      }
    }
  }
  .player-container {
    height: 35%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $border-color;
    .player-cover {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .play-icon {
      width: 70px;
      height: 70px;
      @include hover-zoom(1.1);
    }
  }
  .tab-container {
    display: flex;
    border-bottom: 1px solid $border-color;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    .tab-item {
      flex: 0 0 25%;
      text-align: center;
      font-weight: 500;
      font-size: 11px;
      opacity: 0.4;
      @include hover-zoom(1.1);
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: -1px;
      &.active {
        font-weight: 700;
        font-size: 15px;
        opacity: 1;
        &:hover {
          transform: none;
        }
      }
    }
  }
  .frag-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    .about-frag {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 40px;
      padding-bottom: 0;
      .header-container {
        display: flex;
        border: none;
        .app-icon {
          width: 40px;
          height: 40px;
        }
        .app-details {
          flex: 1;
          display: flex;
          flex-direction: column;
          margin-left: 15px;
          .app-name {
            font-weight: 700;
            font-size: 24px;
          }
          .app-owner {
            font-weight: 400;
            font-size: 13px;
          }
        }
      }
      .app-desc {
        flex-grow: 1;
        height: 0;
        margin: 30px 0;
        overflow-y: auto;
        font-weight: 400;
        line-height: 2;
        display: flex;
        align-items: center;
        font-size: 15px;
      }
      .action-container {
        display: flex;
        border-top: 1px solid $border-color;
        margin-left: -40px;
        margin-right: -40px;
        .action-item {
          flex: 1;
          height: 80px;
          font-weight: 700;
          font-size: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $primary-color;
          color: white;
          @include hover-zoom(1.1);
        }
      }
    }
  }
}
